/* Variable Definition */
:root {
  --left-slide-overlay-bg: rgba(73, 6, 26, 0.75);
  --right-slide-overlay-bg: rgba(51, 44, 46, 0.85);
  --preview-txt-color: #fff;
  --hovered-side-width: 75%;
  --opposite-side-width: 25%;

  --header-color: #b20877;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Content */
body {
  font-family: "Merriweather", sans-serif;
  width: 100vw;
  /* min-height: 100vh; */
  margin: 0;
}

/* Navigation */
.header-top {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: 10px;
  position: relative;
  width: 100%;
}

.logo-img {
  font-size: 24px;
  font-weight: 900;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.mobile-nav {
  background-color: var(--header-color);
  position: absolute;
  top: 12vh;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navigation.mobile-nav .nav-bar {
  flex-direction: column;
}

.navigation.mobile-nav .nav-list {
  margin-bottom: 16px;
}

.nav-list {
  padding: 0 15px;
}

.nav-link {
  color: var(--preview-txt-color);
}

.nav-link:hover {
  opacity: 0.8;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.ham-open {
  font-size: 22px;
}

.ham-close {
  font-size: 33px;
}

/* Landing Section */
.slide-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  /* overflow-x: hidden; */
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: absolute;
}

.slide.left {
  background-color: var(--left-slide-overlay-bg);
  background-blend-mode: overlay;
  background-image: url(/img/red.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}

.slide.right {
  background-image: url(/img/cream.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--right-slide-overlay-bg);
  background-blend-mode: overlay;
  right: 0;
}

.slide.left,
.slide.right {
  transition: all 0.3s;
}

.hovered-left .left {
  width: var(--hovered-side-width);
}

.hovered-left .right {
  width: var(--opposite-side-width);
}

.hovered-right .left {
  width: var(--opposite-side-width);
}

.hovered-right .right {
  width: var(--hovered-side-width);
}

.slide-text {
  width: 90%;
  text-align: center;
}

.preview-header {
  color: var(--preview-txt-color);
  font-size: 46px;
  margin-bottom: 22px;
}

.preview-link {
  border: 1px solid var(--preview-txt-color);
  border-radius: 30px;
  color: var(--preview-txt-color);
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.preview-link:hover {
  opacity: 0.8;
}

/* Media Queries */

@media (max-width: 1100px) {
  .slide-wrapper {
    height: 50vh;
  }

  .slide {
    background-position: center;
    width: 100%;
    height: 25vh;
  }

  .slide.left {
    top: 0;
  }

  .slide.right {
    bottom: 0;
  }

  .hovered-left .left {
    height: 35vh;
    width: 100%;
  }

  .hovered-left .right {
    height: 15vh;
    width: 100%;
  }

  .hovered-right .left {
    height: 15vh;
    width: 100%;
  }

  .hovered-right .right {
    height: 35vh;
    width: 100%;
  }

  .preview-header {
    font-size: 36px;
  }

  .preview-link {
    font-size: 16px;
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .navigation.mobile-nav .nav-bar {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .ham-close {
    display: none;
  }

  .preview-header {
    font-size: 26px;
    margin-bottom: 0.5rem;
  }

  .preview-link {
    font-size: 10px;
    padding: 0.3rem 0.6rem;
  }
}

@media (max-width: 480px) {
  .preview-header {
    font-size: 20px;
  }
}
