/* Variable Definition */
:root {
  --left-slide-overlay-bg: rgba(73, 6, 26, 0.75);
  --right-slide-overlay-bg: rgba(51, 44, 46, 0.85);
  --preview-txt-color: #fff;
  --hovered-side-width: 75%;
  --opposite-side-width: 25%;

  --header-color: #b20877;
  --section-faint-color: #f79bc93a;

  --border-radius: 30px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* Content */
body {
  font-family: "Merriweather", sans-serif;
  /* width: 100vw; */
  margin: 0;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 3rem 0;
  width: 100%;
  border-color: transparent;
}

/* Navigation */
.header {
  width: 100%;
}

.header-top {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 12vh; */
  padding: 14px 18px;
  position: relative;
  width: 100%;
}

.logo {
  width: 100px;
}

.logo img {
  height: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.mobile-nav {
  background-color: var(--header-color);
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navigation.mobile-nav .nav-bar {
  flex-direction: column;
}

.navigation.mobile-nav .nav-list {
  margin-bottom: 16px;
}

.nav-list {
  padding: 0 15px;
}

.nav-link {
  color: var(--preview-txt-color);
}

.nav-link:hover {
  color: #f79bc9;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.ham-open {
  font-size: 22px;
}

.ham-close {
  font-size: 33px;
}

/* Trending Headline */
.trending-text {
  background-color: rgb(143, 9, 49);
  color: var(--preview-txt-color);
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.trend-brief {
  border: 1px solid var(--preview-txt-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  display: inline;
  padding: 2px 15px;
  letter-spacing: 1px;
}

span.hot {
  color: #f79bc9;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Landing Section */
.slide-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  /* overflow-x: hidden; */
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: absolute;
}

.slide.left {
  background-color: var(--left-slide-overlay-bg);
  background-blend-mode: overlay;
  background-image: url(/img/red.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}

.slide.right {
  background-image: url(/img/cream.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--right-slide-overlay-bg);
  background-blend-mode: overlay;
  right: 0;
}

.slide.left,
.slide.right {
  transition: all 0.3s;
}

.hovered-left .left {
  width: var(--hovered-side-width);
}

.hovered-left .right {
  width: var(--opposite-side-width);
}

.hovered-right .left {
  width: var(--opposite-side-width);
}

.hovered-right .right {
  width: var(--hovered-side-width);
}

.slide-text {
  width: 90%;
  text-align: center;
}

.preview-header {
  color: var(--preview-txt-color);
  font-size: 46px;
  margin-bottom: 22px;
}

.preview-link {
  border: 1px solid var(--preview-txt-color);
  border-radius: var(--border-radius);
  color: var(--preview-txt-color);
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.preview-link:hover {
  opacity: 0.8;
}

/* Trending Section */
.section-heading {
  border-bottom: 3px solid var(--header-color);
  font-size: 42px;
  font-weight: 700;
  padding: 3px 12px;
  margin: 0 auto 1rem;
  text-align: center;
  letter-spacing: 2px;
  width: 250px;
}

.section-subheading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
  line-height: 1.3;
  text-align: center;
}

.trending-product {
  background-color: #f79bc918;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "intro desc desc";
  grid-gap: 40px;
  padding: 0.1rem 0 0.2rem;
  margin-bottom: 2rem;
}

.trending-product .intro {
  grid-area: intro;
}

.trending-product .description {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: desc;
  padding: 0 1rem;
}

.intro-img {
  position: relative;
  margin-bottom: 0.5rem;
}

.intro-img img {
  height: 250px;
}

.intro-name {
  font-size: 14px;
  text-align: center;
}

span.price {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
  position: absolute;
  padding: 4px 6px;
  right: 0;
  bottom: 5px;
}

/* Products Section */
.section-products {
  background-color: var(--section-faint-color);
}

.section-subheading.products {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.section__small-heading {
  text-align: center;
}

.products-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 40px;
  padding: 2rem;
}

.each-img img {
  height: 300px;
}

/* Partners Section */
.section-heading.partners {
  width: 340px;
}

.section-subheading.partners {
  margin-bottom: 2rem;
}

.partners-logo__wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.partner-logo {
  display: inline;
  padding: 0 1.5rem;
}

.partner-logo i {
  color: rgba(0, 0, 0, 0.671);
  font-size: 65px;
  margin-bottom: 20px;
}

/* About Section */
.section-about {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
}

.section-heading.about {
  border-color: var(--preview-txt-color);
  margin-bottom: 3rem;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo about-desc";
  grid-gap: 20px;
}

.about-logo {
  grid-area: logo;
  width: 80%;
}

.about-logo img {
  height: 230px;
}

.about-description {
  grid-area: about-desc;
}

.about-para {
  font-size: 18px;
  margin-bottom: 26px;
  letter-spacing: 1.5px;
  line-height: 1.4;
  text-align: center;
}

.about__sub-para p {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 3px;
}

.about__sub-para .contact {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 6px;
}

/* Footer Section */
.footer {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
  padding: 1.2rem 0;
}

.footer p {
  text-align: center;
}

.footer-head {
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-head.name {
  margin-bottom: 10px;
}

.footer-sub {
  font-size: 13px;
}

/* Media Queries */

@media (max-width: 1100px) {
  .slide-wrapper {
    height: 50vh;
  }

  .slide {
    background-position: center;
    width: 100%;
    height: 25vh;
  }

  .slide.left {
    top: 0;
  }

  .slide.right {
    bottom: 0;
  }

  .hovered-left .left {
    height: 35vh;
    width: 100%;
  }

  .hovered-left .right {
    height: 15vh;
    width: 100%;
  }

  .hovered-right .left {
    height: 15vh;
    width: 100%;
  }

  .hovered-right .right {
    height: 35vh;
    width: 100%;
  }

  .preview-header {
    font-size: 36px;
  }

  .preview-link {
    font-size: 16px;
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .navigation.mobile-nav .nav-bar {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .ham-close {
    display: none;
  }

  .logo img {
    height: 40px;
  }

  .preview-header {
    font-size: 26px;
    margin-bottom: 0.5rem;
  }

  .preview-link {
    font-size: 10px;
    padding: 0.3rem 0.6rem;
  }

  .section-heading {
    font-size: 32px;
    width: 205px;
  }

  .section-subheading {
    font-size: 18px;
  }

  .trending-product {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro desc";
    grid-gap: 20px;
  }

  .intro-img img {
    height: 200px;
  }

  .description p.desc-text {
    font-size: 13px;
  }

  .section-heading.partners {
    width: 260px;
  }

  .products-collection {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .partner-logo {
    padding: 0.6rem;
  }

  .partner-logo i {
    font-size: 40px;
  }

  .section-heading.about {
    margin-bottom: 1.6rem;
  }

  .about-content {
    place-items: center;
    grid-template-areas:
      "logo"
      "about-desc";
    grid-template-columns: 1fr;
  }

  .about-logo img {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 70px;
  }

  .logo img {
    height: 35px;
  }

  .preview-header {
    font-size: 20px;
  }

  .content-wrapper {
    width: 90%;
  }

  .section-heading {
    font-size: 28px;
  }

  .section-subheading {
    font-size: 16px;
  }

  .trending-product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "desc";
    grid-gap: 5px;
  }

  .trending-product .description {
    padding: 0 0.7rem;
  }

  .products-collection {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 20px;
  }

  span.price {
    font-size: 14px;
    padding: 3px 5px;
  }

  .intro-img img {
    height: 175px;
  }

  .partners-logo__wrapper {
    width: 90%;
  }

  .partner-logo i {
    font-size: 36px;
  }

  .about-para {
    font-size: 16px;
  }
}
